*{
margin:auto;
}
ul{
  list-style-type:none;
}
body{
  background-color:lightgray;
}
nav{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
nav>a{
   text-decoration:none;
   color:white;
   font-size:15px;
   background-color:darkgray;
   width:100px;
   height:50px;
   margin-right:50px;
   text-align:center;
}
nav>a:hover{
   width:200px;
   height:70px;
   background-color:silver;
}

td{
  text-align:center;
}
section{
   background-color:white;
   width:500px;
   height:100px;
}
form{
  background-color:cyan;
   width:500px;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  margin-top:10px;
  padding-left:10px;
  padding-right:10px;
}
button{
  width:200px;
  margin-left:auto;
  margin-right:auto;
}
button:hover{
  background-color: whitesmoke;
  
}
#stores{
  background-color:white;
  margin-top:10px;
   width:100%;
  height:30%;
  border:5px solid darkgray;
}
#bosses{
  margin-top:10px;
}
#stores>li{
  border:1px solid silver;
}
